nextflow.enable.dsl=2

manifest {
    author = "P22G51"
    homePage = 'https://github.com/LocationAwareScientificWorkflows-P22G51/NextFlowLibrary-AutoLocationExecutor'
    description = 'LocationAwareScientificWorkflows'
    mainScript = 'official_testing/shotgun_fastqc_testing/fastqc_dynamic_location_aware_ver3.nf'
    version = '1.0'
}

singularity {
    enabled = true
    cacheDir = "/home/tlilford/nf-align-cont"
    runOptions = "-B /dataG/ddd --cleanenv"
    autoMounts = true
}

process {
    cache = true
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    scratch = false
    cpus = 6
    memory = 10.GB
    withName: 'indexRef|doAlignment' {
        container = '/home/tlilford/nf-align-cont/nf-rnaseqcount_star.sif'
    }
    withName: 'doQC' {
        container = '/home/tlilford/nf-align-cont/nf-rnaseqcount_fastqc.sif'
    }
}

profiles {

    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
}

trace {
    enabled = true
    file = "workflow-tracing/trace.txt"
}
timeline {
    enabled = true
    file = "workflow-tracing/timeline.html"
}
report {
    enabled = true
    file = "workflow-tracing/report.html"
}
