

manifest {
    author = "P22G51"
    homePage = 'https://github.com/LocationAwareScientificWorkflows-P22G51/NextFlowLibrary-AutoLocationExecutor'
    description = 'LocationAwareScientificWorkflows'
    mainScript = 'basic_model_testing/hello_world_static_location_aware.nf'
    version = '1.0'
}

profiles {

    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = queue
        clusterOptions = "--exclude=n07,n12,n13,n24,n30,n03,n04,n05,n11,n16,n17,n18,n19,n20,n23,n25,n26,n27,n31,n33,n34,n35,n36,n37,n41" 
    }
}

process {
    clusterOptions = "--exclude=n07,n12,n13,n24,n30,n03,n04,n05,n11,n16,n17,n18,n19,n20,n23,n25,n26,n27,n31,n33,n34,n35,n36,n37,n41" 
}

trace {
    enabled = true
    file = "mytrace.txt"
    overwrite = false
}

report {
    enabled = true
    file = "myreport.html"
    overwrite = false
}
